.container {
	border: 2px dotted;
	width: 60%;
	border-radius: 5px;
	padding: 10px;
}

input,
textarea {
	width: 90%;
	padding: 10px;
	margin: 10px;
}

.submit-btn {
	background-color: green;
	color: white;
	padding: 10px;
}
